@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	border: 0;
}

.badge {
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 40px;
	border: 1px solid grey;
	text-align: center;
	display: inline-block;
}
.badge_caption {
	
}

.skill_1 {
	background-image: radial-gradient(center center, circle cover, #457FB5, #1a160d);
	background-image: -o-radial-gradient(center center, circle cover, #457FB5, #1a160d);
	background-image: -ms-radial-gradient(center center, circle cover, #457FB5, #1a160d);
	background-image: -moz-radial-gradient(center center, circle cover, #457FB5, #1a160d);
	background-image: -webkit-radial-gradient(center center, circle cover, #457FB5, #1a160d);
}
.skill_2 {
	background-image: radial-gradient(center center, circle cover, #B54545, #1a160d);
	background-image: -o-radial-gradient(center center, circle cover, #B54545, #1a160d);
	background-image: -ms-radial-gradient(center center, circle cover, #B54545, #1a160d);
	background-image: -moz-radial-gradient(center center, circle cover, #B54545, #1a160d);
	background-image: -webkit-radial-gradient(center center, circle cover, #B54545, #1a160d);
}
.skill_3 {
	background-image: radial-gradient(center center, circle cover, #45B597, #1a160d);
	background-image: -o-radial-gradient(center center, circle cover, #45B597, #1a160d);
	background-image: -ms-radial-gradient(center center, circle cover, #45B597, #1a160d);
	background-image: -moz-radial-gradient(center center, circle cover, #45B597, #1a160d);
	background-image: -webkit-radial-gradient(center center, circle cover, #45B597, #1a160d);
}
.skill_4 {
	background-image: radial-gradient(center center, circle cover, #A8B545, #1a160d);
	background-image: -o-radial-gradient(center center, circle cover, #A8B545, #1a160d);
	background-image: -ms-radial-gradient(center center, circle cover, #A8B545, #1a160d);
	background-image: -moz-radial-gradient(center center, circle cover, #A8B545, #1a160d);
	background-image: -webkit-radial-gradient(center center, circle cover, #A8B545, #1a160d);
}
.skill_5 {
	background-image: radial-gradient(center center, circle cover, #AE45B5, #1a160d);
	background-image: -o-radial-gradient(center center, circle cover, #AE45B5, #1a160d);
	background-image: -ms-radial-gradient(center center, circle cover, #AE45B5, #1a160d);
	background-image: -moz-radial-gradient(center center, circle cover, #AE45B5, #1a160d);
	background-image: -webkit-radial-gradient(center center, circle cover, #AE45B5, #1a160d);
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}